# vim: set syntax=conf:

#download_rate = 0
#upload_rate = 0

directory = ~/dl
session = ~/dl/.session

schedule = watch_directory,5,5,load_start=~/dl/*.torrent
schedule = tied_directory,5,5,start_tied=
schedule = untied_directory,5,5,close_untied=
schedule = low_diskspace,5,60,close_low_diskspace=256M

check_hash = yes
encryption = allow_incoming,try_outgoing,enable_retry
peer_exchange = yes
port_range = 49164-49164
dht = auto
dht_port = 6881

